@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: clamp(50%, 1000px, 100%);
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.data {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.data-item {
    width: 100%;
    padding: 1rem .5rem;
    border-radius: 6px;
    color: aqua;
    background-color: #212121;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: deeppink;
    font-size: 1.5rem;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.list {
    list-style: none;
}

.label {
    width: 100%;
}
.input {
    width: 100%;
    padding: .5rem;
    border: 1px solid gray;
    border-radius: 6px;
}

@media (max-device-width: 767px ) {
    .controls {
        flex-direction: column;
    }

    .data {
        flex-direction: column;
    }
}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .controls {
        flex-direction: column;
    }

    .data {
        flex-direction: column;
    }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .controls {
        flex-direction: row;
    }

    .data {
        flex-direction: row;
    }
}
