@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*BASIC*/

:root {
    --dark-gray: #838387;
    --light-gray: lightgray;
}
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding-top: 2rem;
    width: 60%;
    height: 80%;
}

.data {
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}



/*COLORS*/
.bg-gray {
    background-color: var(--light-gray);
}
.text-dark {
    color: var(--dark-gray);
}
.text-light {
    color: ghostwhite;
}
.text-cyan {
    color: aqua;
}
.bg-dark {
    background-color: #212121;
}

/*BOX*/

.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

.p-1 {
    padding: 1rem;
}
.px-1 {
    padding: 0 1rem;
}
.radius {
    border-radius: 15px;
}

/*FLEXBOX*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.gap-1 {
    gap: 1rem;
}


/*ENTITIES*/

.list {
    list-style: none;
}

.input {
    padding: .5rem;
    border: 2px solid gray;
    border-radius: 10px;
}
